@model List<Schedule>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0]!.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0]!.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0]!.Patient)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)-@item.Date.AddMinutes(15).ToShortTimeString()
                </td>
                <td>
                    @if (item.Doctor != null && item.Doctor.Specialization != null)
                    {
                        <text>@Html.DisplayFor(modelItem => item.Doctor.FirstName) @Html.DisplayFor(modelItem => item.Doctor.Surname) [@Html.DisplayFor(modelItem => item.Doctor.Specialization.Name)]</text>
                    }
                    else
                    {
                        <text>@Html.DisplayFor(modelItem => item.Doctor!.FirstName) @Html.DisplayFor(modelItem => item.Doctor!.Surname)</text>
                    }
                </td>
                @if (item.Patient != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Patient!.FirstName) @Html.DisplayFor(modelItem => item.Patient!.Surname) [@Html.DisplayFor(modelItem => item.Patient!.Email)]
                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>
